* {
  box-sizing: border-box;
}

/* Remove margins around h4 and ul tags */
h4,
ul {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.body {
  font-family: 'Lobster', sans-serif;
}

.headline1 {
  color: darkgray;
  font-size: 85px;
  text-shadow:
   -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px 2px 0 #000,
     2px 2px 0 #000;
  text-align: center;
}

.headline2 {
  font-size: 35px;
  text-align: center;
  text-shadow:
  -1px -1px 0 #fff,  
   1px -1px 0 #fff,
   -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.drinkImgClass{
  border: 2px solid black;
  align-content: center;
  margin: 15px;
}

.drinkIngClass {
  font-family: sans-serif;
}

.drinkInstClass {
  font-family: sans-serif;
  margin: 15px;
}

.search {
  margin: 15px;
}

/* Create three equal columns that floats next to each other */
.column {
  border: 1px solid black;
  float: left;
  margin: 5px;
  padding: 10px;
  width: 30%;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}

.userInput {
  text-align: center;
}

/* Tree */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
  font-size: 20px;
  text-shadow:
  -1px -1px 0 #fff,  
   1px -1px 0 #fff,
   -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: '\25B6';
  color: black;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
  font-family: sans-serif;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}

/* Display Button Style */
.displayBtn {
  background: rgb(79, 217, 153);
  width:150px;
  border-radius: 15px;
  padding:5px;
  margin:10px;
  font-size:16px;
  font-family: sans-serif;
  color: black; 
}